/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    background-color: #EEEDE9;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
  }
  
  /* VARIABLES */
  :root {
    --font-family: 'Garamond', sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #EEEDE9;
    --primary-color: #191919;
    --secondary-color: orangered;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --line-height: 1.7rem;
    --transition: 0.3s;
   }
  
   /* CSS RESETS */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
    ul {
      list-style-type: none;
    }
  
    a {
      text-decoration: none;
      color: var(--primary-color);
    }
  
    a:hover {
      color: var(--secondary-color);
    }
  
    body {
      font-family: var(--font-family);
    } 



  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
    
  /* GENERAL STYLES */
  .header,
  .projects,
  .about,
  .footer {
    max-width: 640px;
    margin: 100px 0;
  }

  /* NAV + HEADER SECTIONS */
  nav {
    position: relative;
    top: 0;
    left:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
  }

  .nav-icon {
    width: 3%;
  }
  
  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
    text-transform: lowercase;
  }
  
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px dashed var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .header {
    margin: 20px 0 388px 50px;
  }

  /* PROJECTS SECTION */
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .projects-title {
    text-align: center;
    padding: 40px;
  }
  
  .project-link {
    color: #191919;
    background: #EEEDE9;
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: 5px;
    padding: 8px;
    border-bottom: 5px solid #191919;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-style: italic;
    margin-bottom: 10px;
  }

  .accordion {
    background-color: #191919;
    color: #EEEDE9;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 8rem;
    transition: 0.4s;
    border-bottom: 2px solid #EEEDE9;
  }
  
  .active, 
  .accordion:hover {
    background-color: #cdcbc4; 
    color: #191919;
    border-bottom: none;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #cdcbc4;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }

  .project-pic {
    border-radius: 10px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
     -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     filter: grayscale(100%);
     filter: gray; /* IE 6-9 */
    align-items: center;
  }
  
  .project-pic:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
  }

  /* SKILLS SECTION */
  .skills-title {
    text-align: center;
    padding: 40px;
  }

  /* ABOUT SECTION */
  .about-img {
    width: 10%;
    height: 5%;
  }

  /* FOOTER */

  .scroll-up {
    position: fixed;
    right: 1%;
    bottom: 3%;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .scroll-up:hover {
    color: orangered;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }


  

  
  
  
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
     /* MOBILE STYLES HERE */
     @media only screen and (max-width: 600px) {
      .header,
      .projects,
      .about,
      .footer {
        max-width: 100%;
        margin: 100px 0;
      }

      /* NAV + HEADER SECTIONS */
      .header {
        margin: 22px;
      }

      .nav-icon {
        display: none;
      }
      
      .intro-section h1 {
        font-size: 4.75rem;
        line-height: 55px;
        margin-bottom: 80px;
      }

      .intro-section p {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 100px;
      }

      /* PROJECTS SECTION */
      .accordion {
        padding: 18px;
        width: 100%;
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
        text-align: center;
      }
      
      .active, .accordion:hover {
        background-color: #cdcbc4; 
        color: #191919;
        border-bottom: none;
      }
      
      .panel {
        padding: 0 18px;
        display: none;
        background-color: #cdcbc4;
        overflow: hidden;
        width: 100%;
        text-align: center;
    
      }
      
      .projects {
        margin: 15px;
      }

      .projects-title {
        font-size: 2rem;
      }

      .introduction {
        font-size: 1.5rem;
        line-height: 20px;
        text-align: justify;
      }

      .project-pic {
        padding: 20px;
        width: 100%;
      }

      .projects-container {
        margin-top: 60px;
        margin-left: 5px;
        text-align: center;
      }

      .project-container {
        margin: 0 15px;
      }

      .project-button {
        margin-bottom: 35px;
      }

      /* SKILLS SECTION */
      .skills-wrapper {
        margin-top: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 5px;
      }

      .skills-title {
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: -80px;
        text-align: center;
      }

      .ability-list h3 {
        font-size: 2.5rem;
        font-style: italic;
        font-weight: 700;
        margin-top: 60px;
        margin-bottom: 5px;
      }

      .skills-wrapper li {
        font-size: 2.5rem;
        line-height: 30px;
      }

      /* ABOUT SECTION */
      .about {
        margin-top: 222px;
      }

      .about img {
        width: 66.66%;
        margin-left: 20%;
      }

      .bio-text1 {
        font-size: 1.75rem;
        line-height: 25px;
        text-align: justify;
        margin: 0 5px -10px 5px;
      }
      
      .bio-text2 {
        font-size: 1.25rem;
        text-align: justify;
        margin-left: 20px;
        margin-right: 10px;
        line-height: 20px;
      }

      /* FOOTER */
      .footer {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        justify-content: center;
        align-items: flex-start;
        border: none;
        margin-left: 10px;
        color: #ff7235;
      }
      
      .social {
        width: 8%;
        text-align: justify;
        margin-left: 40%;
      }
      
      .social-icons {
        font-size: 4rem;
        text-align: center;
      }
      
      .footer-1 {
        font-size: 2.5rem;
        line-height: 66.66px;
        width: 5%;
        text-align: left;
      }
      
      .copyright h2 {
        color: #191919;
        font-size: .75rem;
        text-align: center;
      }
      
      .copyright-header {
        margin-bottom: 13px;
      }
     }


     @media only screen and (min-width:768px) {
      /* TABLET STYLES HERE*/
    
      /* GENERAL STYLES */
      .header,
      .projects,
      .about,
      .footer {
        max-width: 100%;
        margin: 100px 0;
      }

      /* NAV + HEADER SECTIONS */
      .header {
        margin: 22px;
        margin-bottom: 222px;
      }

      
      .intro-section h1 {
        font-size: 8rem;
        line-height: 90px;
      }

      .intro-section p {
        font-size: 2.5rem;
        text-align: center;
      }

      /* PROJECTS SECTION */
      
      .projects {
        margin: 15px;
        margin-top: 100px;
      }

      .accordion {
        text-align: center;
      }

      .project-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 60%;
      }

      .projects-container {
        text-align: center;
        width: 70%;
        margin-left: 122px;
      }

      .project-container {
        margin: 0 0 35px 0;
      }

      .project-button {
        margin-bottom: 35px;
        margin-top: 15px;
      }

      .projects-title {
        font-size: 3rem;
        margin-top: 200px;
      }

      .project-title {
        font-style: italic;
        font-size: 2rem;
      }

      .project-details {
        font-size: 1.25rem;
      }

      /* SKILLS SECTION */
      .skills-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 5px;
      }

      .skills-title {
        text-align: center;
        padding: 40px;
        font-size: 3rem;
        margin-top: 400px;
      }

      .ability-list h3 {
        font-size: 2.5rem;
        font-style: italic;
        font-weight: 700;
        margin-top: 60px;
        margin-bottom: 5px;
      }

      .skills-wrapper li {
        font-size: 2.5rem;
        line-height: 53px;
      }

      /* ABOUT SECTION */
      .about {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        max-width: 68.75rem;
        margin-top: 222px;
        margin-bottom: 222px;
      }
      
      .about img {
        width: 100%;
      }
      
      .bio {
        width: 25rem;
        padding: .625rem;
        border-radius: 6px;
      }
      
      .bio h1 {
        margin-bottom: var(--bottom-margin);
      }
      
      .bio p {
        line-height: var(--line-height);
        padding: 0.3rem 0;
      }
      
      .bio-text1 {
        font-size: 1.75rem;
        text-align: right;
        margin-left: 40px;
        margin-top: 20px;
      }
      
      .bio-text2 {
        font-size: 1.25rem;
        text-align: left;
      }

      /* FOOTER */
      .footer {
        display: flex;
        flex-direction: row-reverse;
        gap: 288px;
        justify-content: flex-end;
        align-items: flex-end;
        border: none;
        margin-left: 30px;
      }
      
      .social {
        width: 8%;
        text-align: justify;
        margin-left: 40%;
      }
      
      .social-icons {
        font-size: 5rem;
        text-align: center;
      }
      
      .footer-1 {
        color: orangered;
        font-size: 3rem;
        line-height: 78px;
        width: 5%;
        text-align: left;
      }
      
      .copyright h2 {
        color: #191919;
        font-size: .75rem;
        text-align: center;
      }
      
      .copyright-header {
        margin-bottom: 13px;
      }
    }
  
    @media only screen and (min-width: 1200px) {  
      /* DESKTOP STYLES HERE */  
       
      /* GENERAL STYLES */
      .header,
      .projects,
      .about,
      .footer {
        max-width: 100%;
        margin: 100px 0;
    }

     /* GENERAL STYLES */
      .header,
      .projects,
      .about,
      .footer {
        max-width: 100%;
        margin-top: 300px;
        margin-bottom: 100px;
      }

      /* NAV + HEADER SECTIONS */
     .header {
        margin: 22px;
      }
    
      .intro-section h1 {
        font-size: 19.9rem;
        line-height: 208px;
      }

      .intro-section p {
        margin-bottom: 111px;
        font-size: 3.5rem;
      }

      /* PROJECTS SECTION */
      
      .projects-title {
        text-align: center;
        padding: 5%;
        font-size: 60px;
        font-style: italic;
      }
    
      .projects-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20%;
        margin: 15%;
      }

      .project-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 50%;
      }

      .project-title {
        text-align: center;
        margin: 0;
        font-style: italic;
        font-weight: 500;
        font-size: 4rem;
     }
    
      .project-container {
        text-align: center;
        width: 22rem;
        padding: 2rem;
     }

      .project-container p {
        padding: 0.4rem;
        font-size: 1.2rem;
      }
        
      /* SKILLS SECTION */
      .skills {
        margin-top: -222px;
      }

      .skills-title {
        text-align: center;
        margin-bottom: 80px;
      }
      
      .skills-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        gap: 5%;
        border: none;
        padding: 100px;
        text-align: center;
        margin-bottom: 10px;
      }
    
      .ability-list h3 {
        font-size: 3rem;
        font-style: italic;
        font-weight: 700;
        padding-bottom: 88.88px;
        margin-top: -100px;
      }
    
      .skills-wrapper li {
        font-size: 3rem;
      }

      /* ABOUT SECTION */
      .about {
        margin-bottom: 0;
      }

      /* FOOTER */
      .footer {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;
        justify-content: center;
        align-items: flex-end;
        border: none;
      }
    
      .social {
        width: 8%;
        text-align: justify;
      }
    
      .social-icons {
       font-size: 5rem;
      }
    
      .marginLeft { 
        margin-left: auto;
        text-align: justify;
        width: 8%;
      }
    
      .footer-1 {
        color: orangered;
        font-size: 4rem;
        line-height: normal;
        width: 50%;
        text-align: left;
        margin-left: 10px;
      }
    
      .copyright h2 {
        color: #191919;
      }
    
      .copyright-header {
       margin-bottom: 13px;
      }
    }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  